{{define "indexhtml"}}
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>

<body onload="survey_init()">

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">{{.NavbarTitle}}</a>
		</div>
	</nav>

	<form action="{{.FormAction}}" method="{{.FormMethod}}">
		<!-- this invisible button should prevent the return key from submitting the form early-->
		<button type="submit" onclick="return false;" style="display:none"></button>
		<div class="container" id="main">
		</div>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
	<script src="websurvey.js"></script>
</body>
</html>
{{end}}


{{define "begin"}}
<h1>{{.Title}}</h1>
{{range .Intro}}
<p>
{{.}}
</p>
{{end}}
<input type="hidden" name="surveyID" value="{{.SurveyID}}">
<input type="hidden" name="surveyJSON" value="{{.SurveyJSON}}">
<input type="hidden" name="surveyTotalQuestions" value="{{.SurveyTotalQuestions}}">
<button type="button" class="btn btn-primary" onclick="survey_next_page()">{{.StartButton}}</button>
{{end}}

{{define "question_singlechoice"}}
<h3>{{.Question}}</h3>
<fieldset class="form-check">
{{range .Answers}}
	<input type="radio" class="form-check-input" name="useranswer{{$.ID}}[]" id="question{{$.ID}}_answer{{.ID}}" value="{{.Value}}">
	<label for="question{{$.ID}}_answer{{.ID}}" class="form-check-label">
	{{.Text}}
	</label>
	<br>
{{end}}
</fieldset>
<br>
<button type="button" class="btn btn-primary" onclick="survey_next_page()">{{.NextButton}}</button>
{{end}}

{{define "question_multiplechoice"}}
<h3>{{.Question}}</h3>
<fieldset class="form-check">
{{range .Answers}}
	<input type="checkbox" class="form-check-input" name="useranswer{{$.ID}}[]" id="question{{$.ID}}_answer{{.ID}}" value="{{.Value}}">
	<label for="question{{$.ID}}_answer{{.ID}}" class="form-check-label">
	{{.Text}}
	</label>
	<br>
{{end}}
</fieldset>
<br>
<button type="button" class="btn btn-primary" onclick="survey_next_page()">{{.NextButton}}</button>
{{end}}

{{define "question_text"}}
<h3>{{.Question}}</h3>
<input type="text" name="useranswer{{.ID}}[]" class="form-control">
<br>
<button type="button" class="btn btn-primary" onclick="survey_next_page()">{{.NextButton}}</button>
{{end}}

{{define "end"}}
{{range .End}}
<p>
{{.}}
</p>
{{end}}
{{if .AutoSubmit}}
<script>
	survey_submit();
</script>
{{else}}
<button id="submitbutton" type="button" class="btn btn-primary" onclick="survey_submit()">{{.SubmitButton}}</button>
{{end}}
{{end}}
